# Python
venv/
__pycache__/
*.py[cod]
*.egg-info/
.env
.env.*

# Jupyter
.ipynb_checkpoints/
*.nbconvert.ipynb

# macOS
.DS_Store

# LaTeX build artifacts
*.aux
*.log
*.out
*.synctex.gz
*.fdb_latexmk
*.fls
*.toc
*.bbl
*.blg
*.lof
*.lot
